.section7{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 100px;
    position: relative;
    height: 710px;
}

.section7-background{
    display: flex;
    z-index: 15;
}

.tab{
    display: flex;
    flex-direction: column;
}

.tab-up{
    padding-left: 10%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    padding-right: 2%;
    width: 500px;
    border: 1px solid #d2dbe0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(54, 54, 182);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab-down{
    color: gray;
    padding-left: 10%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    padding-right: 2%;
    width: 500px;
    border: 1px solid #d2dbe0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.question{
    margin-right: 150px;
    margin-left: 35vh;
}

.family-illustration{
    margin-top: -30px;
}

.quote-7{
    position: absolute;
    left: 25vh;
    top: 70vh;
    background-color: white;
    z-index: 20;
}